* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffffcc;
}

.form-container {
  padding: 2em;
}

/* in one line there should be only two input field */

.fieldset-container {
  margin-top: 1em;
}

.input-field {
  padding: 0.375em;
  border-radius: 0.25em;
  border: 0.5px solid #333;
}

select {
  padding: 0.25em;
  border-radius: 0.25em;
  border: 0.5px solid #333;
}

textarea {
  padding: 0.25em;
  border-radius: 0.25em;
  border: 0.5px solid #333;
}

button {
  background-color: blue;
  padding: 0.5em 1.5em;
  outline: none;
  color: white;
  border: 0.5px solid #333;
  border-radius: 0.25em;
}

label {
  margin-bottom: 0.5em;
}
